<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>おしゃべり</title>
    <style>
        input {
            font-size: 20px;
        }

        p {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>おしゃべり</h1>

    <form method="POST">
        <select name="partner">
            <option value="aiuemon" {% if partner == "aiuemon" %}selected{% endif %}>あい右衛門</option>
            <option value="miko" {% if partner == "miko" %}selected{% endif %}>美子さん</option>
        </select>
<br><br>
        <input type="text" name="user_text" value="{{ user_text }}" placeholder="あなたの一言">
        <button type="submit">ENTER</button>
    </form>

    {% if response_text %}
        <div>
            <p>{{ response_text }}</p>
        </div>
    {% endif %}
</body>
</html>
